@use 'src/styles/vars'as v;

.trainingexolist {
  &__container {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px dashed green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
