@use "src/styles/vars" as v;

.landing {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    width: 100%;
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__header {
    width: 100%;
    border-top: 1px solid v.$base-color;
    border-bottom: 1px solid v.$base-color;
    margin: v.$gutter 0;
    text-align: right;
  }
  &__connected {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: v.$base-color;
    color: v.$color-very-light;
  }
  &__title {
    font-size: 2.5em;
    padding: v.$gutter/2;
    color: v.$base-color;
    text-align: center;
  }

  &__links {
    margin-bottom: 60px;
  }

  &__video {
    display: flex;
    justify-content: center;
  }
}
