@use '../../../styles/vars'as v;

.readtraining__details {
  width: 100%;
  height: 120px;
  text-align: left;
  margin: auto;
  padding: 20px 100px 10px 10px;
  background-color: v.$base-color;

  &__name {
    height: 2em;
    color: v.$color-very-light;
    font-size: 1.6em;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 5px;
  }

  &__round {
    height: 1em;
    font-size: 1.2em;
    color: v.$color-very-light;
  }

  &__duration {
    height: 1em;
    font-size: 0.9em;
    color: v.$color-very-light;
  }
}
