@use '../../../styles/vars'as v;

.training__apilist__wodcard {
  width: 100%;
  background-color: v.$color-intermediaire;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid v.$base-color;

  &__title {
    font-size: 2em;
  }

  &__subtitle {
    font-size: 1.3em;
  }

  &__exolist {
    padding: 8px 0;

    & li {
      list-style-position: inside;
      list-style-type: disc;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
  }
}
