@use 'src/styles/vars'as v;

.appnav {
  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    // border: 1px dashed blue;
  }

  &__links {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70vh;
    left: 0px;
    border: 1px dashed green;

    &__link {
      padding: 10px;
      margin: 10px;
    }
  }
}
