@use 'src/styles/vars'as v;

.appnav {
  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    // border: 1px dashed blue;
  }

  &__logo,
  &__toggle {
    font-size: 1.5em;
    border: none;
    background-color: transparent;
  }

  &__links {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -100vh;
    left: 0px;
    border: 1px dashed green;
    background-color: lightblue;
    font-size: 2em;
    color: v.$base-color;

    &__link {
      padding: 10px;
      margin: 20px;
    }

    &.--visible {
      top: -(v.$padding-top);
      opacity: .9;
      z-index: 100;
    }

    &__close {
      display: block;
      width: 100%;
      border: none;
      padding: 15px 20px;
      background-color: transparent;
      text-align: right;
      font-size: 1em;
    }
  }
}
