@use "src/styles/vars" as v;

.appnav {
  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: v.$appnav-height;
  }

  &__title,
  &__toggle {
    font-size: 1.5em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    width: 100%;
    height: fit-content;
    background-color: rgb(241, 245, 247);
    font-size: 1.5rem;
    color: v.$base-color;
    border: 1px solid v.$base-color;
    border-radius: v.$border-radius;
    padding-bottom: 2rem;

    &__container {
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100vh;
      top: -200vh;
      left: 0px;
      background-color: rgba(0, 15, 37, 0.6);
      backdrop-filter: blur(2px);
      transition: top 200ms ease-out;

      &.--visible {
        top: 0;
        opacity: 0.95;
        z-index: 100;
        transition: all 200ms ease-out;
      }
    }

    &__link {
      display: flex;
      padding: 1rem;
      width: 100%;
      // margin: 1rem;
    }

    &__close {
      display: flex;
      width: 100%;
      border: none;
      padding: 15px 20px;
      background-color: transparent;
      justify-content: space-between;
      color: v.$base-color;
      font-size: 1em;
    }
  }
}
