@use '../../../styles/vars'as v;

.readtraining__exoplaying {
  position: relative;
  width: 70%;
  height: 150px;
  overflow: hidden;
  color: v.$base-color;
  text-align: center;
  padding: 5px;
  margin: 2px;
  // border: 1px solid v.$base-color;
  // border-radius: v.$border-radius;
  font-size: 1rem;

  &__name {
    position: relative;
    height: 1.1em;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-size: 2.2em;
    z-index: 10;
  }

  &__description {
    position: relative;
    margin: 5px;
    padding: 3px;
    height: 2.2em;
    z-index: 10;
  }

  &__series {
    position: relative;
    font-size: 1.2em;
    z-index: 10;
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
  }

  &__reps,
  &__weight {
    font-size: 2em;
  }
}
