$gutter: 1.5rem;
$base-color: rgb(47, 68, 82);
$base-color-transparent: rgba(0, 35, 56, 0.8);
$color-medium: adjust-color($base-color, $lightness: 30%);
$color-intermediaire: adjust-color($base-color, $lightness: 70%);
$color-very-light: adjust-color($base-color, $lightness: 90%);
$border-radius: 5px;
$padding-top: 20px;

$fs-button-icone: 1.3em;
$fs-button-icone-l: 1.3em;
$fs-button-icone-xl: 2.2em;
