@use "reset";
@use "vars" as v;

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: adjust-color(#2f4452, $blackness: 8%);
  color: v.$base-color;
}

h1,
h2,
h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

th,
td {
  border: 1px solid v.$base-color;
  padding: 0.2rem;
  font-size: small;
  & input {
    max-width: 3rem;
  }
}

thead,
tfoot {
  background-color: v.$base-color;
  color: v.$color-very-light;
}
