@use 'reset';
@use 'vars'as v;

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: adjust-color(#2f4452, $blackness: 8%);
  color: v.$base-color;
}

h1,
h2,
h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
}
