@use "vars" as v;

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  justify-content: center;
  background-color: rgba(0, 15, 37, 0.6);
  backdrop-filter: blur(2px);
  z-index: 1000;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    // height: 200px;
    background-color: white;
    border-radius: v.$border-radius;
    padding: v.$gutter;
    padding-top: 50px;
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    flex: 1;

    & h1 {
      font-size: 2rem;
    }

    & h2 {
      font-size: 1.5rem;
    }
  }

  &__options {
    display: flex;
    justify-content: space-evenly;
  }

  &__header {
    padding: 1rem;
  }
  & .--endtraining {
    width: 100%;
    max-width: v.$max-app-width;
    background-color: white;
    border-radius: v.$border-radius;
    padding: 50px 0.5rem;
  }
  &.--hidden {
    display: none;
  }
  & .--row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
  }
  &.--endmodal {
    background-color: transparent;
    backdrop-filter: blur(1px);
  }
}
