@use 'src/styles/vars'as v;

.exoinlist {
  position: relative;
  width: 100%;
  border: 1px solid adjust-color(v.$base-color, $lightness: 50%);
  padding: 0 5px;
  margin-bottom: 10px;
  border-radius: v.$border-radius;

  &__row {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &__name {
    padding: 8px 0;
  }

  &__data {
    padding: 8px 0;
    font-size: 0.8em;

    &.--hidden {
      display: none;
    }
  }

  &__toggle {
    padding: 8px;
    border: none;
    background-color: transparent;
  }
}
