@use '../../../styles/vars'as v;

.videomanager {
  &__container {
    position: absolute;
    overflow: hidden;
    height: 150px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    & .--darkfilter {
      position: absolute;
      height: 151px;
      top: 0;
      left: 0;
      width: 101%;
      background-color: rgb(255, 255, 255);
      z-index: 3;
    }
  }

  &__video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
