@use '../../../styles/vars'as v;

.readtraining__timedisplay {
  // need to be in a container
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;

  &__spiner {
    position: absolute;
    top: 0;
    left: 0;
    background-image: conic-gradient(white 80%, rgb(0, 217, 255));
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotate(0);
  }

  &__container {
    display: flex;
    background-color: v.$color-very-light;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    // border: 1px dashed yellowgreen;
    border-radius: 50%;
    width: 93%;
    height: 93%;
    overflow: hidden;
    z-index: 2;

  }

  &__text {
    text-align: center;
    font-size: 1.5em;

    &.--small {
      font-size: 1.2em;
    }
  }

  &__time {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 1rem;

    &.--small {
      padding: 0.3rem;
      font-size: 2.3em;
    }
  }

  &__button {
    width: 80%;
    border: none;
    border-radius: v.$border-radius;
    color: v.$color-very-light;
    background-color: v.$base-color;
    height: 55px;

    &.--small {
      font-size: 1.1em;
      height: 44px;
    }
  }

  &.--big {
    width: 190px;
    height: 190px;
  }

  &.--small {
    width: 100px;
    height: 100px;
  }
}
