.modal {
  &.--endmodal {
    background-color: transparent;
    backdrop-filter: blur(1px);
  }

  &__container {
    &.--endtraining {
      align-self: flex-end;
      margin-bottom: 60px;
      width: 100%;
      max-width: 400px;
      background-color: v.$base-color;
      color: v.$color-very-light;
      border-radius: 0;
    }
  }
}
