@use 'src/styles/vars'as v;

.training {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  &__button {
    /* for all buttons in /training view */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: v.$border-radius;
    background-color: v.$base-color;
    color: v.$color-very-light;
    padding: 10px;

    &.--border {
      border: 1px solid v.$base-color;
    }

    &.--transparent {
      background-color: transparent;
      color: v.$base-color;
    }

    &.--icone {
      font-size: v.$fs-button-icone;
      width: 44px;
      height: 44px;
    }

    &.--caretopen {
      transform: rotate(90deg);
    }

    &.--l,
    & .--l {
      font-size: v.$fs-button-icone-l;
    }

    &.--xl,
    & .--xl {
      font-size: v.$fs-button-icone-xl;
    }

    &.--xxl {
      font-size: v.$fs-button-icone-xl * 1.2;
    }

    &.--rotate {
      transform: rotate(90deg);
    }

    & .--padded {
      padding: 0 10px;
    }
  }

  &__divider {
    width: 80%;
    height: 1px;
    border-bottom: 1px solid v.$base-color;
    margin: 8px auto;
  }
}
