@use "src/styles/vars" as v;

.training {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  &__divider {
    width: 80%;
    height: 1px;
    border-bottom: 1px solid v.$base-color;
    margin: 8px auto;
  }
}
